.rio-container {
    object-fit: cover;
    object-position: left bottom;
    height: 350px;
    width: 100vw;
    overflow: clip;
}

@media only screen and (min-width: 1536px) {
    .rio-container {
        height: 500px;
    }
}

@media only screen and (min-width: 2100px) {
    .rio-container {
        height: 650px;
    }
}

@media only screen and (min-width: 3000px) {
    .rio-container {
        height: 900px;
    }
}

.rio-de-janeiro-svg {

}

.rio-de-janeiro-svg path {
    fill:pink;

}